/*力导图*/
.links line {
    stroke-opacity: 0.6;
    stroke:#999;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.circleText{
    font-size: 0.5em;
    fill: #ffffff;

}
.circleStart{
    fill:black;
}

.q0-4 { stroke-width: 0.5
}
.q1-4 { stroke-width: 1
}
.q2-4 { stroke-width: 2
}
.q3-4 { stroke-width: 3
}

/*捆图*/
.node {
    font: 10px sans-serif;
}

.link {
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
}
/*提示框*/
.tooltip{
    position:absolute;
    padding:5px;
    width:120;
    height:auto;
    font-family:simsun;
    font-size:14px;
    color:rgb(255,255,255);
    background-color: black;
    border-width: 2px;
    border-radius:5px;
}

.tooltip:after{
    content: '';
    position:absolute;
    bottom:100%;
    left:20%;
    margin-left: -8px;
    width:0;
    height:0;
    border-bottom:black;
    border-right:12px solid transparent;
    border-left:12px solid transparent;
}

/*圆的标签*/
.titleCircle{
    r:5px;
    stroke: #fff;
    stroke-width: 1.5px;
}